{% extends 'base.html.twig' %}

{% block title %}
    {{ personne.nom }} - Fake News
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>{{ personne.nom }}</h1>

        <ul class="list-group">
            <li class="list-group-item">{{ personne.id }}</li>
            <li class="list-group-item">{{ personne.sexe }}</li>
            <li class="list-group-item">{{ personne.age }} ans</li>
            <li class="list-group-item">{{ personne.categorie }}</li>
        </ul>
        <div class="btn-group btn-block" role="group">
            <a class="btn btn-danger btn-lg " href="{{ path('fake_news_personne_remove', { 'id': personne.id }) }}" role="button"><i class="fas fa-trash"></i> Delete</a>
            <a class="btn btn-info btn-lg " href="{{ path('fake_news_personne_edit', { 'id': personne.id }) }}" role="button"><i class="fas fa-edit"></i> Edit</a>
        </div>

        <h2>Infox</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Intitule</th>
                <th scope="col">Viralite</th>
                <th scope="col">Theme</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for infox in infoxs %}
                <tr>
                    <td>{{ infox.intitule }}</td>
                    <td>{{ infox.viralite }}</td>
                    <td>{{ infox.theme }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('fake_news_infox', { 'id': infox.id }) }}" role="button"><i class="far fa-eye"></i> Show</a>
                        <a class="btn btn-danger btn-sm" href="{{ path('unsharing_personne', { 'id': infox.id, 'pers': personne.id }) }}" role="button"><i class="fas fa-thumbs-down"></i> Dissocier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-secondary btn-lg btn-block" href="{{ path('fake_news_personnes') }}" role="button">Return</a>

    </div>
{% endblock %}